<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensationalscience.sensational_science">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcpcHBJJUvXE5KKwFilkbFL_P6C2wcVko"/>
    </application>
</manifest>
